* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template:
    "Left Middle Right" 1fr
    "Left Middle Right" 1fr
    "Left Middle Right" 1fr /
    200px 1fr 300px;

  height: 100vh;
  width: 100vw;

  text-align: center;

  grid-gap: 1px;
}

.Left {
  grid-area: Left;
  background-color: grey;
  padding: 5px;
  display: grid;
  grid-template-rows: 250px 150px 1fr;
  grid-gap: 5px;
}

.item1 {
  border: solid 1px black;
  display: grid;
  grid-template-rows: 45% 20% 20% 15%;
}

.item1 .more1 {
  background-color: red;
}

.item1 .more2 {
  background-color: rgb(233, 89, 89);
}
.item1 .more3 {
  background-color: rgb(245, 4, 4);
}
.item1 .more4 {
  background-color: rgb(233, 106, 106);
}

.item2 {
  border: solid 1px black;
  display: grid;
  grid-template-rows: 3fr 1fr 1fr 1fr;
}

.item2 .more5 {
  background-color: green;
}
.item2 .more6 {
  background-color: rgb(13, 235, 13);
}
.item2 .more7 {
  background-color: rgb(92, 224, 92);
}
.item2 .more8 {
  background-color: rgb(152, 235, 152);
}

.item3 {
  border: solid 1px black;
  display: grid;
  grid-template-rows: 2fr 2fr 1fr;
}

.item3 .more9 {
  background-color: blueviolet;
}
.item3 .more10 {
  background-color: rgb(174, 114, 231);
}
.item3 .more11 {
  background-color: rgb(51, 34, 66);
}

.Middle {
  grid-area: Middle;
  background-color: grey;
  display: grid;
  grid-template-rows: 150px 1fr;
  grid-gap: 5px;
  padding: 5px;
}

.middletoprow {
  border: solid 1px black;
  display: grid;
  grid-template-rows: 2fr 2fr;
}

.toprow1 .toprow2 {
  background-color: blue;
}

.toprow1 .toprow3 {
  background-color: rgb(115, 115, 224);
}

.toprow1 {
  background-color: white;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.bottomrow {
  background-color: lightpink;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.bottomrow .links1 {
  background-color: grey;
}
.bottomrow .links2 {
  background-color: rgb(70, 69, 69);
}
.bottomrow .links3 {
  background-color: rgb(85, 84, 84);
}
.bottomrow .links4 {
  background-color: rgb(75, 62, 62);
}

.middlerow2 {
  border: solid 1px black;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr;

  grid-gap: 5px;
  overflow: scroll;
}

.post {
  background-color: lightgreen;
  padding: 10px;
  height: 200px;
}

.Right {
  grid-area: Right;
  background-color: grey;
  padding: 5px;
  display: grid;
  grid-template-rows: 200px 150px 1fr;
  grid-gap: 5px;
}

.right1 {
  border: solid 1px black;
  /* background-color: white; */
  display: grid;
  grid-template-rows: 1fr 5fr;
  place-items: center;
  background-color: lightcoral;
}

.right1 .copy1 {
  background-color: green;
}

.right1 .copy2 {
  background-color: rgb(121, 209, 121);
}

.right2 {
  border: solid 1px black;
  background-color: white;
  display: grid;
  grid-template-rows: 1fr 5fr;
  place-items: center;
  background-color: lightgrey;
}

.right3 {
  border: solid 1px black;
  background-color: white;
  display: grid;
  grid-template-rows: 1fr 5fr;
  place-items: center;
  background-color: lightgreen;
}

@media screen and (max-width: 800px) {
  .container {
    display: grid;
    grid-template:
      "topLeft topMiddle topRight" 1fr
      "middleLeft middleMiddle middleRight" 1fr
      "bottomleft middleMiddle bottomRight" 1fr /
      100px 1fr 300px;

    grid-gap: 1px;
  }
}

@media screen and (max-width: 600px) {
  .container {
    display: grid;
    grid-template:
      "topLeft topMiddle topRight" 1fr
      "middleLeft middleMiddle middleRight" 1fr
      "bottomleft middleMiddle bottomRight" 1fr /
      100px 1fr 100px;

    grid-gap: 1px;
  }
}
