* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template:
    "Left Middle Right" 1fr
    "Left Middle Right" 1fr
    "Left Middle Right" 1fr /
    200px 1fr 300px;

  height: 100vh;
  width: 100vw;

  text-align: center;

  grid-gap: 1px;
}

.Left {
  grid-area: Left;
  background-color: grey;
  padding: 5px;
  display: grid;
  grid-template-rows: 250px 150px 1fr;
  grid-gap: 5px;
}

.item1 {
  border: solid 1px black;
  display: grid;
  grid-template-rows: 45% 20% 20% 15%;
}

.more1 {
  background-color: lightblue;
  padding: 10px;
}

.item2 {
  border: solid 1px black;
  display: grid;
  grid-template-rows: 3fr 1fr 1fr 1fr;
}

.more2 {
  background-color: lightgreen;
  padding: 10px;
}

.item3 {
  border: solid 1px black;
  display: grid;
  grid-template-rows: 2fr 2fr 1fr;
}

.more3 {
  background-color: lightyellow;
  padding: 10px;
}

.Middle {
  grid-area: Middle;
  background-color: grey;
  display: grid;
  grid-template-rows: 150px 1fr;
  grid-gap: 5px;
  padding: 5px;
}

.middletoprow {
  border: solid 1px black;
  display: grid;
  grid-template-rows: 2fr 2fr;
}

.toprow1 {
  background-color: lightblue;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.bottomrow {
  background-color: lightpink;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.middlerow2 {
  border: solid 1px black;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr;

  grid-gap: 5px;
  overflow: scroll;
}

.post {
  background-color: lightgreen;
  padding: 10px;
  height: 200px;
}

.Right {
  grid-area: Right;
  background-color: grey;
  padding: 5px;
  display: grid;
  grid-template-rows: 200px 150px 1fr;
  grid-gap: 5px;
}

.right1 {
  border: solid 1px black;
  /* background-color: white; */
  display: grid;
  grid-template-rows: 1fr 5fr;
  place-items: center;
  background-color: lightcoral;
}

.right2 {
  border: solid 1px black;
  background-color: white;
  display: grid;
  grid-template-rows: 1fr 5fr;
  place-items: center;
  background-color: lightgrey;
}

.right3 {
  border: solid 1px black;
  background-color: white;
  display: grid;
  grid-template-rows: 1fr 5fr;
  place-items: center;
  background-color: lightgreen;
}

@media screen and (max-width: 800px) {
  .container {
    display: grid;
    grid-template:
      "topLeft topMiddle topRight" 1fr
      "middleLeft middleMiddle middleRight" 1fr
      "bottomleft middleMiddle bottomRight" 1fr /
      100px 1fr 300px;

    grid-gap: 1px;
  }
}

@media screen and (max-width: 600px) {
  .container {
    display: grid;
    grid-template:
      "topLeft topMiddle topRight" 1fr
      "middleLeft middleMiddle middleRight" 1fr
      "bottomleft middleMiddle bottomRight" 1fr /
      100px 1fr 100px;

    grid-gap: 1px;
  }
}
